<% provide(:title, 'edit profile') %>

<input type="hidden" value="1" id="users_edit">

<div class="users_edit hud-page" >
  <!-- LEAFLET -->
  <div class="map-container">
    <div id='map'></div>
  </div>

  <!-- BOTTOM HUD -->
  <div class="hud-container" style="width: 27%; ">
    <div class="hud-bottom" style="opacity: .95;">
      <div class="user-details">
        <%= form_for @user, html: {multipart: true} do |f| %>
          <p>
            <%= f.label 'profile picture' %>
            <%= f.file_field :profile_pic, accept: 'image/jpeg, image/gif, image/png, image/jpg' %>
          </p><div class="clear-fix"></div>

          <!-- First Name -->
          <p>
            <%= f.label :first_name, autofocus: true %>
            <%= f.text_field :first_name %>
          </p>

          <!-- Last Name -->
          <p>
            <%= f.label :last_name %>
            <%= f.text_field :last_name %>
          </p>

          <!-- Email -->
          <p>
            <%= f.label :email %>
            <%= f.text_field :email %>
          </p>

          <!-- From -->
          <p>
            <%= f.label :from, 'Where are you from?' %>
            <%= f.text_field :from %>
          </p>

          <!-- GPS -->
          <p>
            <%= f.label :gps, 'Current location' %>
            <%= f.text_field :gps %>
          </p>

          <!-- Password -->
          <p>
            <%= f.label :password %>
            <%= f.password_field :password %>
          </p>

          <!-- Password Confirmation -->
          <p>
            <%= f.label :password_confirmation %>
            <%= f.password_field :password_confirmation %>
          </p>

          <%= content_tag :button, 'submit', class: 'normal' %>

        <% end -%>
      </div>
    </div>
  </div>
</div>